*{
  margin: 0;
  box-sizing: border-box;
}
body{
  width:1200px;
  margin: auto;
  font-family: "Anton", sans-serif;
  margin-top: 100px;
  letter-spacing: 2px;
}
header{
  top: 0;
  width: 1200px;
  height: 100px;
  z-index:3;
  position: fixed;
  text-align: center;
}
.logo{
  height: 100px;
  float: left;
  display: inline-block;
}
.nav-bar{
  margin: 30px 10px;
  float: right;
}
.nav-bar li {
  font-size: 1.8em;
  float: left;
  list-style: none;
  padding: 0 10px;
}
.nav-bar li a{
  display: block;
}
.nav-bar .fa{
  color: black;
  font-size: 1.5em;
}
.metallic-bg{
  background-color: #999999;
  background-image: url("http://www.transparenttextures.com/patterns/little-pluses.png");
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.black-bg{
  background-color: #000000;
  color: #999999;
}
.left-column{
  float: left;
  height:474px;
  width: 66%;
  position: relative;
}
.right-column{
  background-color: black;
  float: left;
  height:474px;
  width: 34%;
  text-align: center;
  position: relative;
}
.description{
  padding: 20px;
  height: 406px;
  width: 300px;
}
.right-column h2{
  margin-top: 15px;
}
.specifics{
  height: 400px;
  clear: both;
  text-align: center;
  position: relative;
}
.specifics h2{
  padding-top: 25px;
}
table{
  border-spacing: 50px 20px;
}
tr td:first-child{
  font-weight: bold;
}
td{
  font-size: 1.2em;
}
footer{
  height: 125px;
  position: relative;
}
footer h3{
  position: absolute;
  bottom: 0;
  right: 0;
}