*{
  margin: 0;
  box-sizing: border-box;
}
body{
  width:1199px;
  margin: auto;
  font-family: "Anton", sans-serif;
  margin-top: 100px;
  letter-spacing: 2px;
}
header{
  top: 0;
  width: 1199px;
  height: 100px;
  z-index:3;
  position: fixed;
  text-align: center;
}
.logo{
  height: 100px;
  float: left;
  display: inline-block;
}
.nav-bar{
  margin: 30px 10px;
  float: right;
}
.nav-bar li {
  font-size: 1.8em;
  float: left;
  list-style: none;
  padding: 0 10px;
}
.nav-bar li a{
  display: block;
}
.nav-bar .fa{
  color: black;
  font-size: 1.5em;
}
.jumbotron{
  position: relative;
  height: 600px;
}
.jumbotron h1{
  position: absolute;
  top: 150px;
  left: 100px;
}
.gallery-header{
  height: 100px;
  text-align: center;
  position: relative;
}
.img-gallery{
  height: 300px;
  background-color: gray;
}
.gallery-item{
  height: 300px;
  float: left;
}
.gallery-item > img{
  margin: 52px 14.87px 62px 14.87px;
}
.metallic-bg{
  background-color: #999999;
  background-image: url("http://www.transparenttextures.com/patterns/little-pluses.png");
}
.black-bg{
  background-color: #000000;
  color: #999999;
}
.modal{
  top: -300px;
  position: relative;
  z-index:2;
  width: 290px;
  height: 300px;
  text-align: center;
  font-size: 1.2em;
  display: none;
}
.modal img{
  border: 2px solid black;
}
.modal button{
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
  font-size: 1.2em;
  margin-top: 10px;
  height:40px;
  width: 120px;
  padding: 1px;
  border: 2px solid #999999;
}
.gallery-item:hover > div{
  display: block;
}
footer{
  height: 125px;
  position: relative;
}
footer h3{
  position: absolute;
  bottom: 0;
  right: 0;
}
.centered{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}